    @import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    html {
        font-family: Quicksand;
        scroll-behavior: smooth;
    }
    
    #header {
        display: flex;
        text-align: center;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        padding: 0 10%;
        height: 100px;
        background-color: #ffce45;
    }
    
    .logo img {
        width: 100px;
        height: 100px;
    }
    
    #nav {
        list-style-type: none;
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
    }
    
    #nav>li>a {
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        font-weight: 700;
    }
    
    #nav li a {
        text-decoration: none;
        line-height: 46px;
        padding: 0 24px;
    }
    
    #nav>li:hover>a {
        background-image: linear-gradient( -225deg, #5800FF 0%, #D54C4C 29%, #ECEFA4 67%, #D9DD6B 100%);
        background-size: 200% auto;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 2s linear infinite;
        display: inline-block;
        font-size: 22px;
    }
    
    @keyframes textclip {
        to {
            background-position: 200% center;
        }
    }
    
    .search {
        width: 50%;
        position: relative;
        display: flex;
    }
    
    .searchTerm {
        width: 100%;
        border: 3px solid #dfbe52;
        border-right: none;
        padding: 15px;
        height: 20px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #9DBFAF;
    }
    
    .searchTerm:focus {
        color: #dfbe52;
    }
    
    .searchButton {
        width: 40px;
        height: 36px;
        border: 1px solid #dfbe52;
        background: #dfbe52;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
    }
    /* CSS Slide Show */
    
    .slide-show {
        width: 100%;
        height: 700px;
        background-color: #FFFDDE;
    }
    
    .slide-show .slider {
        text-align: center;
        overflow: hidden;
    }
    
    .slides {
        display: flex;
        overflow-x: auto;
        border-radius: 5px;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        scroll-snap-points-x: repeat(300px);
        scroll-snap-type: mandatory;
    }
    
    .slides::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    
    .slides::-webkit-scrollbar-thumb {
        background: #EA5C2B;
        border-radius: 10px;
    }
    
    .slides::-webkit-scrollbar-track {
        background: transparent;
    }
    
    .slides>div {
        flex-shrink: 0;
        width: 100%;
        height: 600px;
        border-radius: 10px;
        background: #eee;
        transform-origin: center center;
        transform: scale(1);
        transition: transform 0.5s;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100px;
    }
    
    .slides>div>img {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }
    
    .slider>a {
        display: inline-flex;
        width: 1.5rem;
        height: 1.5rem;
        background: white;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: 0 0 0.5rem 0;
        position: relative;
        margin-top: 5px;
        border: 1px solid #D54C4C;
    }
    
    .slider>a:active {
        top: 1px;
    }
    
    .slider>a:focus {
        background: #D54C4C;
    }
    /* CSS Main */
    
    #main {
        background-color: #FFFDDE;
        padding-bottom: 10px;
    }
    
    .home-content-first,
    .home-content-second {
        margin: 20px auto;
        background-color: #fff;
        display: inline-flex;
        border-radius: 15px;
        height: 60%;
        width: 90%;
        padding: 10px;
        display: flex;
        align-content: center;
        box-shadow: 0 0 5px;
    }
    
    .home-content-first .home-content-left,
    .home-content-second .home-content-right {
        width: 40%;
        display: flex;
        align-items: center;
        margin: 0 20px;
    }
    
    .home-content-first .home-content-left img,
    .home-content-second .home-content-right img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 15px;
    }
    
    .home-content-first .home-content-right,
    .home-content-second .home-content-left {
        line-height: 1.5;
        height: 100%;
        margin: auto;
        width: 60%;
        padding: 50px;
        text-align: center;
    }
    
    .home-content-first .home-content-right .home-title,
    .home-content-second .home-content-left .home-title {
        align-items: center;
    }
    
    .home-content-first .home-content-right .home-title h2,
    .home-content-second .home-content-left .home-title h2 {
        font-family: 'Cookie';
        font-size: 42px;
        color: #D54C4C;
        margin-bottom: 5px;
    }
    
    .home-content-first .home-content-right .home-title h3,
    .home-content-second .home-content-left .home-title h3 {
        font-family: Josefin Sans, sans-serif;
        font-weight: 700;
        font-size: 30px;
    }
    
    .home-content-first .home-content-right .home-description,
    .home-content-second .home-content-left .home-description {
        text-align: justify;
    }
    /* CSS Footer */
    
    a {
        text-decoration: none;
        outline: none !important;
        color: #fff;
    }
    
    .border-shape {
        background: #83471c none repeat scroll 0 0;
        color: #fff;
        display: block;
        height: 3px;
        left: 0;
        margin: 20px auto;
        position: relative;
        right: 0;
        text-align: center;
        top: 0;
        width: 80px;
    }
    
    .border-shape::before {
        background: #83471c none repeat scroll 0 0;
        bottom: 0;
        content: "";
        height: 1px;
        left: 80px;
        margin: 0 auto;
        position: absolute;
        text-align: center;
        top: 1px;
        width: 100px;
    }
    
    .border-shape::after {
        background: #83471c none repeat scroll 0 0;
        bottom: 0;
        content: "";
        height: 1px;
        margin: 0 auto;
        position: absolute;
        right: 80px;
        text-align: center;
        top: 1px;
        width: 100px;
    }
    /*FOOTER*/
    
    footer {
        width: 100%;
        background-color: #dfbe52;
        color: #fff;
    }
    
    .top_header {
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    
    .top_header section {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .top_header span {
        padding: 0 1rem;
    }
    
    .top_header .fa {
        color: #ffffff;
        font-size: 35px;
    }
    
    footer .border-shape {
        width: 40%;
    }
    
    footer .border-shape::before {
        width: 100%;
        left: 120px;
    }
    
    footer .border-shape::after {
        width: 100%;
        right: 120px;
    }
    
    footer .bottom_content section {
        padding: 1.5rem 2rem;
        display: flex;
        align-items: center;
        justify-content: Center;
    }
    
    .bottom_content a {
        margin: 0 20px;
        color: rgba(255, 255, 255, 1);
        transition: 0.5s;
    }
    
    .bottom_content a:hover {
        color: #004aad;
    }
    
    .copyright {
        padding: 0.8em 0;
        background-color: #83471cb9;
        text-align: center;
        color: rgba(255, 255, 255, 0.7);
        font-size: 12px;
    }
    
    @media (max-width:820px) {
        .top_header {
            padding: 1rem;
            display: block;
        }
        .top_header section {
            margin: 40px 0;
            align-items: left;
            justify-content: left;
        }
        footer .bottom_content section {
            padding: 1rem;
            display: block;
        }
        footer .bottom_content section a {
            padding: 1rem;
            font-size: 12px;
            margin: 0 5px;
            display: inline-block;
        }
    }