* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Quicksand;
    scroll-behavior: smooth;
    background: url("../img/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100vh;
}

#header {
    display: inline-flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0 10%;
    height: 100px;
}

.logo img {
    width: 100px;
    height: 100px;
}

#nav {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

#nav>li>a {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
}

#nav>li:hover>a {
    background-image: linear-gradient( -225deg, #5800FF 0%, #D54C4C 29%, #ECEFA4 67%, #D9DD6B 100%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 22px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.search {
    width: 50%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #dfbe52;
    border-right: none;
    padding: 15px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #dfbe52;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #dfbe52;
    background: #dfbe52;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.button-get-started {
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #41a2c4;
    padding: 1em 2em;
    border-radius: 15px;
    color: #fff;
    transition: all 250ms ease;
    font-weight: 700;
    position: absolute;
    left: 17vw;
    top: 75vh;
}

.button-get-started:hover {
    background: #41a2c4;
    color: white;
    letter-spacing: 1.5px;
}