            @import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
            * {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }
            
            html {
                font-family: Quicksand;
                scroll-behavior: smooth;
            }
            
            #header {
                display: flex;
                text-align: center;
                justify-content: space-around;
                align-items: center;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                z-index: 10;
                padding: 0 10%;
                height: 100px;
                background-color: #ffce45;
            }
            
            .logo img {
                width: 100px;
                height: 100px;
            }
            
            #nav {
                list-style-type: none;
                display: inline-flex;
                justify-content: space-around;
                align-items: center;
            }
            
            #nav>li>a {
                text-transform: uppercase;
                color: rgb(255, 255, 255);
                font-weight: 700;
            }
            
            #nav li a {
                text-decoration: none;
                line-height: 46px;
                padding: 0 24px;
            }
            
            #nav>li:hover>a {
                background-image: linear-gradient( -225deg, #5800FF 0%, #D54C4C 29%, #ECEFA4 67%, #D9DD6B 100%);
                background-size: 200% auto;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: textclip 2s linear infinite;
                display: inline-block;
                font-size: 22px;
            }
            
            @keyframes textclip {
                to {
                    background-position: 200% center;
                }
            }
            
            .search {
                width: 50%;
                position: relative;
                display: flex;
            }
            
            .searchTerm {
                width: 100%;
                border: 3px solid #dfbe52;
                border-right: none;
                padding: 15px;
                height: 20px;
                border-radius: 5px 0 0 5px;
                outline: none;
                color: #9DBFAF;
            }
            
            .searchTerm:focus {
                color: #dfbe52;
            }
            
            .searchButton {
                width: 40px;
                height: 36px;
                border: 1px solid #dfbe52;
                background: #dfbe52;
                text-align: center;
                color: #fff;
                border-radius: 0 5px 5px 0;
                cursor: pointer;
                font-size: 20px;
            }
            /* CSS Result */
            
            .main {
                padding-top: 150px;
                min-height: 650px;
                text-align: center;
                background-color: #fff;
            }
            
            .main h2 {
                font-family: 'Cookie';
                color: #D54C4C;
                font-size: 52px;
            }
            
            .result {
                display: grid;
                width: 100%;
                grid-template-columns: 50% 50%;
            }
            
            .result .item-food {
                display: inline-flex;
                justify-content: space-around;
                align-items: center;
                margin: 20px;
                background: #FFFDDE;
                box-shadow: 0 0 5px;
                border-radius: 15px;
            }
            
            .result .item-food .item-content h3 {
                font-size: 28px;
                margin-bottom: 50px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
            .result .item-food .item-content {
                margin: 20px;
            }
            
            .result .item-food .image img {
                max-width: 300px;
                margin: 10px;
                border-radius: 15px;
            }
            /* CSS Button View More */
            
            .button {
                color: #000;
                cursor: pointer;
                font-weight: bold;
                padding: 9px 15px;
                font-family: 'Quicksand';
                display: inline-block;
                border-radius: 15px;
                margin-top: 10px;
                background-color: #ffce45;
                text-decoration: none;
            }
            
            .button:hover {
                color: #fff;
            }
            /*FOOTER*/
            
            footer {
                width: 100%;
                background-color: #dfbe52;
                color: #fff;
            }
            
            .top_header {
                padding: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
            }
            
            .top_header section {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
            }
            
            .top_header span {
                padding: 0 1rem;
            }
            
            .top_header .fa {
                color: #ffffff;
                font-size: 35px;
            }
            
            footer .border-shape {
                width: 40%;
            }
            
            footer .border-shape::before {
                width: 100%;
                left: 120px;
            }
            
            footer .border-shape::after {
                width: 100%;
                right: 120px;
            }
            
            footer .bottom_content section {
                padding: 1.5rem 2rem;
                display: flex;
                align-items: center;
                justify-content: Center;
            }
            
            .bottom_content a {
                margin: 0 20px;
                color: rgba(255, 255, 255, 1);
                transition: 0.5s;
                text-decoration: none;
            }
            
            .bottom_content a:hover {
                color: #004aad;
            }
            
            .copyright {
                padding: 0.8em 0;
                background-color: #83471cb9;
                text-align: center;
                color: rgba(255, 255, 255, 0.7);
                font-size: 12px;
            }
            
            @media (max-width:820px) {
                .top_header {
                    padding: 1rem;
                    display: block;
                }
                .top_header section {
                    margin: 40px 0;
                    align-items: left;
                    justify-content: left;
                }
                footer .bottom_content section {
                    padding: 1rem;
                    display: block;
                }
                footer .bottom_content section a {
                    padding: 1rem;
                    font-size: 12px;
                    margin: 0 5px;
                    display: inline-block;
                }
            }