        @import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        
        html {
            font-family: Quicksand;
            scroll-behavior: smooth;
        }
        
        #header {
            display: flex;
            text-align: center;
            justify-content: space-around;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 10;
            padding: 0 10%;
            height: 100px;
            background-color: #ffce45;
        }
        
        .logo img {
            width: 100px;
            height: 100px;
        }
        
        #nav {
            list-style-type: none;
            display: inline-flex;
            justify-content: space-around;
            align-items: center;
        }
        
        #nav>li>a {
            text-transform: uppercase;
            color: rgb(255, 255, 255);
            font-weight: 700;
        }
        
        #nav li a {
            text-decoration: none;
            line-height: 46px;
            padding: 0 24px;
        }
        
        #nav>li:hover>a {
            background-image: linear-gradient( -225deg, #5800FF 0%, #D54C4C 29%, #ECEFA4 67%, #D9DD6B 100%);
            background-size: 200% auto;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: textclip 2s linear infinite;
            display: inline-block;
            font-size: 22px;
        }
        
        @keyframes textclip {
            to {
                background-position: 200% center;
            }
        }
        
        .search {
            width: 50%;
            position: relative;
            display: flex;
        }
        
        .searchTerm {
            width: 100%;
            border: 3px solid #dfbe52;
            border-right: none;
            padding: 15px;
            height: 20px;
            border-radius: 5px 0 0 5px;
            outline: none;
            color: #9DBFAF;
        }
        
        .searchTerm:focus {
            color: #dfbe52;
        }
        
        .searchButton {
            width: 40px;
            height: 36px;
            border: 1px solid #dfbe52;
            background: #dfbe52;
            text-align: center;
            color: #fff;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            font-size: 20px;
        }
        /* CSS Food Detail */
        
        .main {
            padding-top: 150px;
            padding-bottom: 50px;
            min-height: 650px;
            background-color: #FFFDDE;
            /* display: flex;
            align-items: center;
            justify-content: center; */
            text-align: center;
        }
        
        .food {
            background-color: #fff;
            width: 80%;
            display: inline-flex;
            justify-content: space-around;
            align-items: center;
            border-radius: 15px;
            box-shadow: 0 0 5px;
        }
        
        .food-image {
            padding-right: 1rem;
            align-items: center;
            display: flex;
        }
        
        .food-image img {
            max-width: 400px;
        }
        
        .food-info {
            text-align: left;
            font-family: 'Quicksand', sans-serif;
            min-width: 500px;
            margin: 20px;
        }
        
        .food-detail h3 {
            font-family: 'Quicksand', sans-serif !important;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
        }
        
        .food-detail ul {
            margin-left: 50px;
        }
        
        .food-info .food-name {
            font-size: 3em;
            font-weight: 700;
            text-align: center;
            margin-bottom: 0.5em;
            font-family: 'Cookie', sans-serif;
            width: 100%;
        }
        
        .food-method ul,
        .food-recipe ul {
            max-height: 300px;
            white-space: normal;
            overflow: scroll;
            text-overflow: ellipsis;
        }
        
        .food-name {
            margin-left: 5%;
            margin-top: 1%;
            text-align: left;
            font-family: "Quicksand";
            color: #9C0F48;
            text-transform: capitalize;
            background-image: linear-gradient( -225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
            background-size: 200% auto;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: textclip 2s linear infinite;
            display: inline-block;
            font-size: 22px;
        }
        
        @keyframes textclip {
            to {
                background-position: 200% center;
            }
        }
        /* CSS Footer */
        
        a {
            text-decoration: none;
            outline: none !important;
            color: #fff;
        }
        
        .border-shape {
            background: #83471c none repeat scroll 0 0;
            color: #fff;
            display: block;
            height: 3px;
            left: 0;
            margin: 20px auto;
            position: relative;
            right: 0;
            text-align: center;
            top: 0;
            width: 80px;
        }
        
        .border-shape::before {
            background: #83471c none repeat scroll 0 0;
            bottom: 0;
            content: "";
            height: 1px;
            left: 80px;
            margin: 0 auto;
            position: absolute;
            text-align: center;
            top: 1px;
            width: 100px;
        }
        
        .border-shape::after {
            background: #83471c none repeat scroll 0 0;
            bottom: 0;
            content: "";
            height: 1px;
            margin: 0 auto;
            position: absolute;
            right: 80px;
            text-align: center;
            top: 1px;
            width: 100px;
        }
        /*FOOTER*/
        
        footer {
            width: 100%;
            background-color: #dfbe52;
            color: #fff;
        }
        
        .top_header {
            padding: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        
        .top_header section {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        
        .top_header span {
            padding: 0 1rem;
        }
        
        .top_header .fa {
            color: #ffffff;
            font-size: 35px;
        }
        
        footer .border-shape {
            width: 40%;
        }
        
        footer .border-shape::before {
            width: 100%;
            left: 120px;
        }
        
        footer .border-shape::after {
            width: 100%;
            right: 120px;
        }
        
        footer .bottom_content section {
            padding: 1.5rem 2rem;
            display: flex;
            align-items: center;
            justify-content: Center;
        }
        
        .bottom_content a {
            margin: 0 20px;
            color: rgba(255, 255, 255, 1);
            transition: 0.5s;
        }
        
        .bottom_content a:hover {
            color: #004aad;
        }
        
        .copyright {
            padding: 0.8em 0;
            background-color: #83471cb9;
            text-align: center;
            color: rgba(255, 255, 255, 0.7);
            font-size: 12px;
        }
        
        @media (max-width:820px) {
            .top_header {
                padding: 1rem;
                display: block;
            }
            .top_header section {
                margin: 40px 0;
                align-items: left;
                justify-content: left;
            }
            footer .bottom_content section {
                padding: 1rem;
                display: block;
            }
            footer .bottom_content section a {
                padding: 1rem;
                font-size: 12px;
                margin: 0 5px;
                display: inline-block;
            }
        }